<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="false" id="something">
        <div class="drawer-filler">
          <button class="nav-button" mat-raised-button routerLink="/list">
            Character List
          </button>
          <button class="navbutton" mat-raised-button routerLink="/create">
            Create Character
          </button>  
        </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
    
  </mat-drawer-container>